configuration {
    drun-display-format: "{icon} {name}";
    show-icons: true;
    icon-theme: "Papirus";
    modi: "drun,run,ssh,window,emoji";
}
@theme "/home/skeuo/.local/share/rofi/themes/squared-ghdark.rasi"
